section#showcase{
    padding-block: 5rem;
    .container{
        .show{
            height: 100%;
            gap: 20px;
            justify-content: center;
            h1{
                font-size: 80px;
                font-weight: 100;
            }
            p{
                font-size: 16px;
                line-height: 1.5;
            }
            a{
                font-size: 17px;
                padding: 6px 12px;
                border-radius: 5px;
                background-color: black;
                width: 100px;
                color: white;
                &:hover{
                    opacity: 0.75;
                }
                &:active{
                    opacity: 0.6;
                }
            }
        }
        img{
            width: 60%;
        }
    }
}